.back-button {
  background-color: transparent;
  border: 2px solid #eb6893;
  color: #eb6893;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 1rem;
  position: relative;
  right: 30em;
}

.back-button:hover {
  background-color: #eb6893;
  color: #fff;
  transform: translateY(-2px);
}

@media (max-width: 480px) {
  .back-button {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }
}
